* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=740&t=st=1677558695~exp=1677559295~hmac=24728069ca57874c0c7fe7051d4da9092be21312d2fc370fb89c50dbd0551913);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.header-container {
    display: flex;
}

.header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100px;
    margin: 40px;
    padding: 10px;
    /* background-color: black; */
    border: 5px solid rgb(21, 192, 21);
    border-radius: 100px;
    box-shadow: 10px 10px 10px rgb(161, 23, 161);
    background-color: rgba(163, 159, 159, 0.5);
}

.header-box h1 {
    text-align: center;
    font-family: "comic-sans";
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(14, 13, 13);
}

.header-box p {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}

img {
    width: 150px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.img1 {
    padding: 50px 10px 0 0;
}

.img2 {
    padding: 50px 0 0 10px;
}

a {
    color: yellow;
    font-size: 20px;
    padding: 20px;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 100px;
}

.italic {
    font-style: italic;
}

.date {
    font-weight: bold;
    color: black;
}

.left-column {
    padding: 10px;
    max-width: 200px;
    max-height: 500px;
    overflow-wrap: break-word;
    overflow: scroll;
    /* background-color: blue; */
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(21, 192, 21);
    color: white;
}

.left-column h3 {
    font-style: italic;
    color: white;
    text-shadow: 2px 2px red;
    padding: 10px;
    text-align: center;
}

.center-column {
    max-width: 600px;
    max-height: 500px;
    overflow-wrap: break-word;
    overflow: scroll;
    background-color: rgba(128, 126, 126, 0.349);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgb(21, 192, 21);
    color: white;
    
}

.center-column ul {
    padding: 5px;
    margin: 5px;
    line-height: 20px;
}

.center-column h1 {
    text-align: center;
    margin: 5px;
    color: yellow;
    text-shadow: 2px 2px black;
}

.right-column {
    max-width: 200px;
    max-height: 500px;
    padding: 10px;
    overflow-wrap: break-word;
    overflow: scroll;
    box-shadow: 2px 2px 5px rgb(21, 192, 21);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: white;
}

.right-column h3 {
    font-style: italic;
    color: rgb(124, 7, 105);
    text-shadow: 2px 2px rgb(255, 255, 255);
    text-align: center;
}

.abduction-container {
    display: flex;
    margin: 50px;
}

.abduction {
    text-align: center;
    padding: 20px;
    color: orange;
    background-color: rgba(128, 128, 128, 0.349);
    border: 5px dashed yellow;
}


.abduction h1 {
    margin: 10px;
}

.abduction-content p {
    padding: 0 20px;
    font-size: 18px;
}

.abduction-content ul {
    text-align: left;
    margin: 25px;
    list-style-type: circle;
}

.abduction-symptoms {
    margin: 25px;
}

.abduction-content {
    display: flex;
}

.footer {
    width: auto;
    background: blue;
}