* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(https://img.freepik.com/free-photo/starry-night-sky_1048-11828.jpg?w=740&t=st=1677558695~exp=1677559295~hmac=24728069ca57874c0c7fe7051d4da9092be21312d2fc370fb89c50dbd0551913);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 100px;
    margin: 40px;
    padding: 10px;
    /* background-color: black; */
    border: 5px solid rgb(21, 192, 21);
    border-radius: 100px;
    box-shadow: 5px 5px 10px 10px;
}

.header h1, p {
    text-align: center;
    font-family: "comic-sans";
    color: red;
    /* text-shadow: 2px 2px rgb(101, 104, 101); */
}

.header p {
    font-size: 20px;
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 100px;
}

.left-column {
    padding: 10px;
    max-width: 200px;
    overflow-wrap: break-word;
    /* background-color: blue; */
    border: 5px solid grey;
    color: white;
}

.left-column h3 {
    font-style: italic;
}

.center-column {
    max-width: 600px;
    height: auto;
    overflow-wrap: break-word;
    background-color: rgb(128, 126, 126);
    border: 5px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(21, 192, 21);
    color: white;
}

.center-column ul {
    padding: 5px;
    margin: 5px;
    line-height: 20px;
}

.center-column h1 {
    text-align: center;
    margin: 5px;
    color: yellow;
    text-shadow: 2px 2px black;
}

.right-column {
    padding: 10px;
    max-width: 200px;
    overflow-wrap: break-word;
    background-color: blue;
    border: 5px solid grey;
    color: white;
}

.right-column h3 {
    font-style: italic;
}


.footer {
    width: auto;
    background: blue;
}